
$mountains-1-hex: #5D7CA6;
$mountains-2-hex: #023059;
$mountains-3-hex: #03588C;
$mountains-4-hex: #73A2BF;
$mountains-5-hex: #F2CAA7;

$font-color: #fff;

$font-family: Arial, Helvetica, sans-serif;
